<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite>
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
            <exclude>
              <directory suffix=".php">src/messages</directory>
              <directory suffix=".php">src/migrations</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
